<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Post</title>
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'post/style.css' %}">
</head>
<body>
	<div class="page-wrapper">
		<header class="header">
			<div class="container" class="row">
				<div class="main-menu">
					<div class="inner-main-menu">
						<ul class="ul-main-menu">
							{% if user.is_authenticated %}
							<li class="li-main-menu"><a href="{% url 'blog_users' %}">Home</a></li>
							<li class="li-main-menu">Hello, {{ user.username }}!</li>
                    		<li class="li-main-menu"><a href="{% url 'logout' %}"">Exit</a></li>
                    		{% else %}
                    		<li class="li-main-menu">Welcome to "Post"!</li>
							{% endif %}
						</ul>
					</div> 
				</div>
			</div>
		</header>
		<div class="content">
			<div class="inner-content" class="row">
				{% block content %}{% endblock %}
			</div>
	</div>
</body>
</html>