{% extends "post/base.html" %}

{% block content %}
<form method="POST" action='' enctype="multipart/form-data">
        {% csrf_token %}
        <center><p>Delete note?</p></center><br>
        <div>
        	<center><input type="submit" class='btn btn-primary' value="Delete" /></center>
        </div>
</form>          
{% endblock %}