{% extends "post/base.html" %}

{% block content %}

<div class="user-list">
	<div class="inner-user-list">
		<p class="title-user-list">User list:</p>	
		<ul class="ul-user-list">
			{% for author in user_list %}
				<li class="li-user-list"><a href="{% url 'post_list' author.pk %}">{{ author.username }}</a></li>
			{% endfor %}
		</ul>
	</div>
</div>
{% endblock %}

