{% extends "post/base.html" %}

{% block content %}

<center><form role="form" action='' method='post'>{% csrf_token %}
 <div class="form-group col-xs-12 ">
    <label  for="username">Username: </label>{{ form.username }}
</div>
    <div class="form-group col-xs-12 ">
    <label  for="pass">Password: </label>{{ form.password }}
  </div>
  <div class="form-group col-xs-12 ">
     <button type="submit" class="btn btn-primary" value="Send">Send</button>
  </div>
 </form></center>

 {% endblock %}