{% extends "post/base.html" %}

{% block content %}


    <form  method="POST" action={% url 'new_post' %} enctype="multipart/form-data">
            {% csrf_token %}
        <div>
            <label for="post_title" >Title: </label> 
            {{ form.post_title }}
        </div>

        <div>
            <label for="post_content">Content: </label> 
            {{ form.post_content }}
        </div>

        <div>
            <label for="post_flag">Public: </label> 
            {{ form.post_flag}}
        </div>

        <div class="post_author_vis">
            <label for="User">User: </label>
            {{ form.post_author }}
        </div> 

        <div>

        <input type="submit" value="Save">
        
        </div>
    </form>
{% endblock %}