{% extends "post/base.html" %}

{% block content %}

{% for post in post_list %}
	{% if post.post_flag %}
		<div class="post-text">
			<div class="inner-post-text">
				<p class="title">Title:</p>
				<div class="post-title">{{ post.post_title }}</div>
				<p class="cont">Content:</p>
				<div class="post-content">{{ post.post_content }}</div>
			</div>
		</div>
	{% endif %}
{% endfor %}

{% endblock %}