{% extends "post/base.html" %}

{% block content %}

<div>
	<form class='content' method='post' action='' role="form">
		{% csrf_token %}
		<label for="post_title"> Title:</label>
		<textarea class="form-control" id="id_text" name="post_title">{{ post.post_title }}</textarea>
		<label for="post_content" >Content:</label> 
		<textarea class="form-control" id="id_text" name="post_content">{{ post.post_content }}</textarea>
		<label for="post_content" >Public:</label> 
		<textarea class="form-control" id="id_text" name="post_flag">{{ post.post_flag}}</textarea>
		<input type="submit" value="Update">		
	</form>
</div>

{% endblock %}