{% extends "post/base.html" %}

{% block content %}

{% csrf_token %}
<div class="post-text">
	<div class="inner-post-text">
		<p class="title">Title:</p>
		<div class="post-title">{{ post.post_title }}</div>
		<p class="cont">Content:</p>
		<div class="post-content">{{ post.post_content }}</div>
		<a href="{% url 'post_update' post.pk %}"><button type="button">Update</button></a>
		<a href="{% url 'post_delete' post.pk %}"><button type="button" class="btn btn-primary">Delete</button></a>
	</div>
</div>

{% endblock %}
