.row:after {
	 visibility: hidden;
	 display: block;
	 font-size: 0;
	 content: " ";
	 clear: both;
	 height: 0;
	 }
.row { display: inline-block; }
/* start commented backslash hack \*/
* html .row { height: 1%; }
.row { display: block; }
/* close commented backslash hack */

html. body {
	padding: 0;
	margin: 0;
	height: 100%;
}

body {
	background-color: #F8F9D7;
}

.container {
	width: 1200px;
	margin: 0 auto;
	background-color: #fff;
}

.page-wrapper {
	margin-top: 20px;
	min-height: 100%;
	width: 1200px;
	margin: 0 auto;
}

.main-menu {
	height: 100px;
	display: inline-block;
	width: 100%;
	background-image: url(image/back_title2.jpg);
	background-size: 500px;
}

.inner-main-menu {
	position: relative;
	padding-top: 35px;
}

.li-main-menu {
	list-style: none;
	display: inline-block;
}

.inner-main-menu > ul > li {
	font-size: 28px;
	font-family: cursive;
	margin: 0 20px;
	padding: 0 5px; 
}

.inner-main-menu > ul > li a {
	text-decoration: none;
	border: 2px solid grey;
	border-radius: 20px;
	padding: 0 5px;
}

.inner-main-menu > ul > li a:hover {
	border: 2px outset #CC9464;
	text-decoration: none;
	color: #2C0D08;
}

.post_author_vis {
	visibility: hidden;
}

.title-user-list{
	font-size: 24px;
	font-family: cursive;
	text-align: center;
}

.li-user-list {
	list-style: none;
	font-size: 20px;

}

.li-user-list > a {
	text-decoration: none;
	color: black;
	padding: 0 3px;
}

.li-user-list > a:hover {
	border: 2px outset #CC9464;
	text-decoration: none;
	color: #2C0D08;
}

.post-text {
	width: 600px;
	height: 250px;
	margin: 0 auto;
	text-align:center;
	position: relative;
	background-image: url(image/back_post.png);
	background-size: 600px 300px;
}

.inner-post-text {
	padding-top: 40px;		
}

.title {
	margin: 2px 2px;
	font-family: cursive;
	font-size: 20px;
}

.cont {
	margin: 10px 2px 2px 2px;
	font-family: cursive;
	font-size: 20px;
}

.post-title {
	font-family: cursive;
	font-size: 16px;
}

.post-content {
	font-family: cursive;
	font-size: 16px;
	width: 600px;
	height: 50px;
	text-align: center;
	display: inline-block;
}